body {
    background: #353535
}

.text {
    color: white;
}

.box {
    background: #fff;
    border-radius: 10px;
    padding: 50px 100px;
}

.box {
    position: fixed;
    right: 50px;
    bottom: 100px;
    left: 50%;
}

.round {
    background: red;
    border-radius: 100px;
    height: 100px;
    width: 100px;
    margin: 0 auto;
}

.round {
    position: fixed;
    bottom:150px;
}
