body {
    background: #474747;
}

.title {
    text-align: center;
    color: #fff;
    font-size: 50px;
}

.block-1 {
    content: '';
    background: red;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 2px solid #fff;
    transform: translate(650px, -100px);
}

.block-2 {
    background: blue;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 2px solid #fff;
    transform: translate(1150px, -200px);
}

